img, p, h1, h2, .divider {
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}

img {
	display: block;
    padding: 15px 0px;
}

#Router {
    max-width: 1000px;
}

p {
    color:white;
    font-size: 18px;
    line-height: 1.4;
    font-family: "Crimson Text";
}

h1, h2 {
    color:white;
    font-family: "Roboto";
}

.divider {
    height: 2px;
    background-color: #0868ac;
    margin-top: 10px;
    margin-bottom: 10px;
    }

#Name {
    color:rgb(246, 255, 0);
}
