#slideshow {
    width: 80%; /* Or a specific pixel size like 800px */
  max-width: 800px;
  aspect-ratio: 3 / 2; /* Maintains proportions */
  margin-left: auto;
	margin-right: auto;
    display: grid;
    place-items: center;
  overflow: hidden;
  position: relative;
  }

  #slideshow img {
    width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  }
  #slideshow img.active {
    opacity: 1;
  }

img, p, h1, h2 {
	width: 100%;
	max-width: 640px;
	margin-left: auto;
	margin-right: auto;
}


img {
	display: block;
    padding: 15px 0px;
}

  #Router {
    max-width: 1000px;
}

p {
    color:white;
    font-size: 18px;
    line-height: 1.4;
    font-family: "rigid-square", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1, h2 {
    color:white;
    font-family: "rigid-square", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#Name {
    color:rgb(246, 255, 0);
}
